body{
    background-color: aqua;
    text-align: center;
    padding: 10px 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    background-attachment: fixed;
}

h1, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app{
    background-color: white;
    padding: 5px 10px 20px 10px;
    font-weight: bold;
    background-size: auto;
}

#Start, #Solo, #Multi, #Zaczynam, #NieZaczynam, #Ponownie, #System, #Ja, #Multi{
    background-color: cyan;
    padding: 20px 50px;
    color: black;
    width: 246px;
    height: 60px;
}

#Start:hover, #Solo:hover, #Multi:hover{
    background-color: white;
    color: black;
}

#b1, #b2{
    padding: 2px;
}

table{
    border-collapse:separate;
      border:3px solid rgb(63, 109, 54);
      table-layout:fixed;
    margin: auto;
    font-size: 40pt;
    width: 400px;
    height: 400px;
  }
  td{
    border:3px solid rgb(63, 109, 54);
    width: 200px;
      height: 120px;
  }